<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
 	
	
<!-- 	<typeAlias type="com.icia.movie.dto.BoardDTO" alias="board"/>
	
	<typeAlias type="com.icia.movie.dto.CommentsDTO" alias="comm"/>  -->
	<typeAlias type="com.icia.movie.dto.PageDTO" alias="paging"/>
	<typeAlias type="com.icia.movie.dto.MemberDTO" alias="member"/>	
	<typeAlias type="com.icia.movie.dto.MovieDTO" alias="movie"/>
	<typeAlias type="com.icia.movie.dto.CommentDTO" alias="comm"/>
	<typeAlias type="com.icia.movie.dto.TheaterDTO" alias="theater"/>
	<typeAlias type="com.icia.movie.dto.SchedulesDTO" alias="schedules"/>
	<typeAlias type="com.icia.movie.dto.ReserveDTO" alias="reserve"/>
</typeAliases>

</configuration>

